/* main */

.main {
    flex: 1;
    padding: var(--space-xl) var(--space-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    color: var(--Navy-200);
    place-items: center;
    position: relative;
}

.main-card {
    width: clamp(270px, 90%, 310px);
    background-color: var(--Navy-900);
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-lg);
    padding-bottom: var(--space-md);
    transition: all 0.2s ease-in;
}

.main-card:hover {
    transform: scale(1.005) translateY(-5px);
    box-shadow: 0 0 15px var(--Navy-shadow);
}

.card-header {
    background-color: var(--Purple-600);
    border-radius: var(--radius-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-lg) 0;
    gap: var(--space-md)
}

.photo {
    width: clamp(70px, 70px + 1vw, 100px);
    border: 2px solid var(--White);
    border-radius: var(--radius-circle);
}

.text-wrapper {
    display: flex;
    flex-direction: column;
}

.type {
    color: var(--Blue-300);
}

.person-name {
    font-size: var(--fs-lg1);
    color: var(--White);
    font-weight: var(--fw-lightest);
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block-start: var(--space-md);
}

.indicator {
    color: var(--Purple-500);
    opacity: 0.8;
    transition: all 0.2s ease-in;
    position: relative;
}

.button-container .daily:has(.radio-btn:checked) {
    color: var(--White);
    opacity: 1;
}

.button-container .weekly:has(.radio-btn:checked) {
    color: var(--White);
    opacity: 1;
}

.button-container .monthly:has(.radio-btn:checked) {
    color: var(--White);
    opacity: 1;
}

.button-container .daily,
.button-container .monthly,
.button-container .weekly {
    display: block;
}

.radio-btn {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

/* time changings */

.weekly,
.monthly {
    display: none;
}

.main:has(.weekly-btn:checked) .card-container .weekly {
    display: block;
}

.main:has(.weekly-btn:checked) .card-container .daily,
.main:has(.weekly-btn:checked) .card-container .monthly {
    display: none;
}

.main:has(.monthly-btn:checked) .card-container .monthly {
    display: block;
}

.main:has(.monthly-btn:checked) .card-container .weekly,
.main:has(.monthly-btn:checked) .card-container .daily {
    display: none;
}

/* cards */

.card-container {
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    gap: var(--space-lg);
    width: clamp(450px, 100%, 850px);
}

.card {
    list-style: none;
    width: clamp(250px, 100%, 300px);
    height: clamp(180px, 180px + 5vw, 230px);
    position: relative;
    border-radius: var(--radius-lg) var(--radius-lg) var(--radius-half) var(--radius-half);
    z-index: 1;
    clip-path: inset(0 -8px -8px -8px round var(--radius-lg));
    transition: all 0.2s ease-in 0.2s;
}

.card:hover {
    transform: scale(1.005) translateY(-5px);
    box-shadow: 0 0 15px var(--Navy-shadow);
}

.icon {
    position: absolute;
    scale: 1.2;
    right: 20px;
    top: -2px;
    z-index: 0;
}

.content-section {
    height: calc(100% - var(--space-xl));
    margin-top: var(--space-xl);
    background-color: var(--Navy-900);
    border-radius: var(--radius-lg);
    position: relative;
    z-index: 1;
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in
}

.card:hover .content-section {
    transform: scale(1.01)
}

.top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-icon {
    cursor: pointer;
}

.card-title {
    font-size: var(--fs-lg);
    font-weight: var(--fw-light);
}

.card-title,
.content-wrapper p:first-child {
    color: var(--White);
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-wrapper p:first-child {
    font-size: var(--fs-xl);
    font-weight: var(--fw-lightest);
}

/* cards colors */

.work {
    background-color: var(--Orange-300);
}

.play {
    background-color: var(--Blue-300)
}

.study {
    background-color: var(--Pink-400);
}

.exercise {
    background-color: var(--Green-400);
}

.social {
    background-color: var(--Purple-700);
}

.self-care {
    background-color: var(--Yellow-300);
}

/* footer */

.footer {
    color: var(--Navy-200);
    font-size: var(--fs-sm);
    text-align: center;
    padding-bottom: var(--space-md);
}

.credit {
    color: var(--White);
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.credit:hover {
    text-decoration: underline;
    text-shadow: 0 0 10px var(--White-light);
    transform: scale(1.05);
    display: inline-block;
}

/* Desktop Layout */
/* 992px = 62rem based on 16px default HTML root font size*/
@media screen and (min-width: 62rem) {
    .main {
        display: grid;
        grid-template-columns: 280px minmax(0, 850px);
        justify-content: center;
        align-content: center;
        align-items: stretch;
        gap: var(--space-md);
        width: 100%;
    }

    .main-card {
        width: 100%;
        height: auto;
    }

    .card-container {
        width: 100%;
        grid-auto-flow: unset;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: var(--space-lg);
        align-self: stretch;
    }

    .card-header {
        flex-direction: column;
        align-items: flex-start;
        padding-inline-start: var(--space-md);
    }

    .person-name {
        max-width: 180px;
    }

    .button-container {
        flex-direction: column;
        align-items: flex-start;
        padding-inline-start: var(--space-md);
        margin-block-start: var(--space-lg);
        gap: var(--space-md);
    }

    .content-wrapper {
        flex-direction: column;
        align-items: flex-start;
        margin-inline-start: var(--space-sm);
    }
}